.bold, .btn, header .restart-time span span {
  font-weight: bold; }

.inline-block, header .restart-time span {
  display: inline-block; }

.large-padding, .btn, .card {
  padding: 10px 15px; }

.no-border, .btn {
  border: none; }

.padding-50 {
  padding: 50px 0px 50px 0px; }

.pull-right, header .init {
  float: right; }

.relative, header .init {
  position: relative; }

.small, header .restart-time span span {
  font-size: 14px; }

.slim {
  font-weight: 200; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-left {
  text-align: left; }

.text-right, header .restart-time span span {
  text-align: right; }

.title {
  font-size: 50px; }

.top-space {
  margin-top: 1em; }

.uppercase, header .restart-time span span {
  text-transform: uppercase; }

.z-depth {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.yellow, .btn--yellow {
  background-color: #ecc000; }

.yellow-text {
  color: #ecc000; }

.btn--yellow {
  -webkit-box-shadow: 3px 3px 0px 3px, #c2c200;
  box-shadow: 3px 3px 0px 3px, #c2c200; }

.pink, .btn--pink {
  background-color: #d40053; }

.pink-text {
  color: #d40053; }

.btn--pink {
  -webkit-box-shadow: 3px 3px 0px 3px, #ff8398;
  box-shadow: 3px 3px 0px 3px, #ff8398; }

.green, .btn--green {
  background-color: #009966; }

.green-text {
  color: #009966; }

.btn--green {
  -webkit-box-shadow: 3px 3px 0px 3px, #004300;
  box-shadow: 3px 3px 0px 3px, #004300; }

.blue, .btn--blue {
  background-color: #5297ce; }

.blue-text {
  color: #5297ce; }

.btn--blue {
  -webkit-box-shadow: 3px 3px 0px 3px, #0000c2;
  box-shadow: 3px 3px 0px 3px, #0000c2; }

.white, .btn--white, .card {
  background-color: #fff; }

.white-text {
  color: #fff; }

.btn--white {
  -webkit-box-shadow: 3px 3px 0px 3px, #e0e0e0;
  box-shadow: 3px 3px 0px 3px, #e0e0e0; }

.black, .btn--black {
  background-color: #000; }

.black-text {
  color: #000; }

.btn--black {
  -webkit-box-shadow: 3px 3px 0px 3px, black;
  box-shadow: 3px 3px 0px 3px, black; }

.red, .btn--red {
  background-color: "red"; }

.red-text {
  color: "red"; }

.btn--red {
  -webkit-box-shadow: 3px 3px 0px 3px, #c20000;
  box-shadow: 3px 3px 0px 3px, #c20000; }

.bullet-points li {
  display: inline-block;
  width: 50%;
  margin-right: -4px; }

.container-80 {
  width: 80%;
  margin: 0 auto; }

html, body {
  margin: 0px;
  font-size: 18px;
  font-weight: 200; }

header .init {
  top: 2em;
  padding-right: 10px; }

header .restart-time span {
  vertical-align: top;
  line-height: 1em;
  font-size: 99px; }
  header .restart-time span span {
    display: block;
    padding-right: 10px; }

.move-up {
  position: relative;
  top: -50px; }

.workshop-background {
  background: -webkit-gradient(linear, left top, left bottom, from(#6d7783), to(#49505a));
  background: -webkit-linear-gradient(top, #6d7783 0%, #49505a 100%);
  background: -o-linear-gradient(top, #6d7783 0%, #49505a 100%);
  background: linear-gradient(to bottom, #6d7783 0%, #49505a 100%);
  padding-bottom: 100px; }
